@import "../style.scss";

.signLogWrapper {
  .signLogHolder {
    .shopBannerHolder {
      height: 74px;
      background-color: #deeaf5;

      .shopBanner {
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 auto;
        padding: 0 35px;
        h3 {
          font-weight: 700;
          margin: 0;
        }
        p {
          margin: 0;
        }
      }
    }
    height: 600px;
    .signInDetailsHolder {
      margin-top: 50px;
      .signInDetails {
        margin: 0 auto;
        text-align: center;
        .signInInput {
          margin-top: 5px;
          input {
            outline: none;
          }
          i {
            position: relative;
            left: -25px;
            top: -13px;
            cursor: pointer;
            &::before {
              position: absolute;
            }
          }
        }
        .signInButton {
          margin: 20px 0 20px 0;
          @include bigRedButton();
        }
        .statusMessage {
          height: 120px;
          white-space: pre-line;
        }
        .moveToLogIn {
          font-size: 12px;
          p {
            cursor: default;
          }
          span {
            cursor: pointer;
            font-weight: 700;
            font-size: 16px;
            color: #ff0000;
          }
        }
      }
      .logInDetails {
        margin: 0 auto;
        text-align: center;
        .logInInput {
          margin-top: 5px;
          input {
            outline: none;
          }
          i {
            position: relative;
            left: -25px;
            top: -13px;
            cursor: pointer;
            &::before {
              position: absolute;
            }
          }
        }
        .logInButton {
          margin: 20px 0 20px 0;
          @include bigRedButton();
        }
        .statusMessage {
          height: 120px;
          white-space: pre-line;
        }
        .moveToSignIn {
          font-size: 12px;
          p {
            cursor: default;
          }
          span {
            cursor: pointer;
            font-weight: 700;
            font-size: 16px;
            color: #ff0000;
          }
        }
      }
    }
  }
}
